---
title: "Olli-B Environnement : traitement et valorisation de vos déchets industriels."
title_seo: "Olli-B Environnement : traitement et valorisation de vos déchets industriels"
description: "Faites appel à une équipe de professionnels pour le traitement et la valoraisation de vos déchets dangereux, toxiques, collectes de déchets."
---
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= image_path 'banner.jpg'%>);">
<div id="home">
  <div class="home-content">
    <h1>
      Confiez-nous vos le traitement et la valorisation de vos déchets industriels
    </h1>
    <div class="catch-content">
      <%= link_to "Découvrir nos solutions", "metier.html", class: "metier btn btn-primary" %>
    </div>
  </div>
</div>
</div>
<div class="container">
  <div class="col-xs-12 picto-container" align="center">
    <div class="col-md-4 dangereux">
      <%= image_tag "dangereux.png", class: "icone-home" %>
      <h2>Collecte de déchets dangereux</h2>
    </div>

    <div class="col-md-4 valorisation">
      <%= image_tag "valorisation.png", class: "icone-home" %>
      <h2>Valorisation et blbabla de substituts</h2>
    </div>

    <div class="col-md-4 assainissement">
      <%= image_tag "assainissement.png", class: "icone-home" %>
      <h2>Assainissement friche industrielle</h2>
    </div>
  </div>

  <div class="col-xs-12 gerant-container ">

      <div class="image-container", align="center">
        <%= image_tag 'obigo.jpg', class: "profile-picture" %>
      </div>
      <div class="description-container ">
        <h2> Olivier Bigo, Gérant</h2>
        <p>
          Confiez-nous vos le traitement et la valorisation de vos déchets industriels. Chefs d'entreprise, directeurs des achats, responsable QHSE,mandataires judiciaires.... vous êtes à la recherche de filières confirmées pour optimiser votre production et vous libérer de la gestion de vos déchets.
        </p>
        <p>
          Nous avons une solution innovante, adaptée et personnalisée quelle que soit la nature de vos déchets. Notre expertise et notre indépendance nous permettent de proposer une prestation globale garantissant un traitement ou une valorisation conforme aux réglementations en vigueur.
          L'innovation au service du traitement des déchets nous permet de privilégier autant que possible la recherche de valorisation compétitive. Nous avons ainsi mis en place depuis 2014 une filière de valorisation de semences traitées périmées soit en vrac ou en sacs avec un partenaire cimentier CCB en Belgique. Aujourd'hui, les plus grands producteurs de semences nous accordent leur confiance.
        </p>
        <p>
          Depuis près de 30 ans, les solutions agrées compétitives initiées par Olivier Bigo, sont plébiscitées par de nombreux industriels comme EDF, Ascométal, Bonduelle, Sarbec, Unéal,Minakem,SIO, St Gobain......
        </p>
      </div>
  </div>
</div>

